{{#each this}}
<li class="result_list-item">
    <h2 class="result_item-title">{{name}}</h2>
    <div class="content-wrapper">
        <div class="info-wrapper">
            <p class="result_item-capital">
                <span class="result_item-category">Capital</span>: {{capital}}</p>
            <p class="result_item-population">
                <span class="result_item-category">Population</span>: {{population}}</p>
            <ul class="result_item-languagesList">
                <span class="result_item-category">Languages</span>:
                {{#each languages}}
                <li class="result_item-languagesItem">{{name}}</li>
                {{/each}}
            </ul>
        </div>
        <img class="result_item-img" src="{{flag}}" alt="{{name}}">
    </div>
</li>
{{/each}}